Brotli==1.0.9
GitPython==3.1.43
Jinja2==3.1.4
MarkupSafe==2.1.3
ProDy==2.4.1
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
accelerate==0.31.0
adapters==1.0.0.dev0
aiohttp==3.9.5
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
bertviz==1.4.0
biopython==1.79
boto3==1.35.58
botocore==1.35.58
certifi==2024.7.4
chardet==4.0.0
charset-normalizer==2.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
crowelab-pyir==1.5.0
cycler==0.12.1
datasets==2.19.2
debugpy==1.6.7
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
entrypoints==0.4
executing==2.0.1
filelock==3.13.1
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
gmpy2==2.1.2
huggingface-hub==0.23.4
idna==3.7
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.12.0
jedi==0.19.1
jmespath==1.0.1
joblib==1.4.2
jupyter-client==7.3.4
jupyter_core==5.7.2
kiwisolver==1.4.5
llvmlite==0.43.0
matplotlib-inline==0.1.7
matplotlib==3.9.1
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nest_asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
packaging==24.1
pandas==2.2.1
parso==0.8.4
peft==0.11.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==5.9.0
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow-hotfix==0.6
pyarrow==16.1.0
pynndescent==0.5.13
pyparsing==3.1.2
python-dateutil==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
regex==2024.5.15
requests==2.32.2
requests==2.32.3
s3transfer==0.10.3
safetensors==0.4.3
scikit-learn==1.4.2
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.7.1
setproctitle==1.3.3
setuptools==69.5.1
six==1.16.0
smmap==5.0.1
stack-data==0.6.2
sympy==1.12
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.40.2
triton==2.3.1
typing_extensions==4.11.0
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.6
urllib3==1.26.20
wandb==0.17.4
wcwidth==0.2.13
wheel==0.43.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2